@import "../../styles/_variables";
.card{
    background: $dark-grey;
    color: $white;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    transition: 0.2s ease all;
    
    &:hover{
        transform: translateY(-4px);
        box-shadow: 0 2px 10px $dark-grey;
        
    }
    &:hover &Right > &RightTitle {
        color: $orange;
    }
}