@import "../../styles/_variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spinner, .spinnerAbsolute {
  display: flex;
  justify-content: center;
  align-items: center;
  
  & div {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $orange;
    animation: sk-bouncedelay 1.4s infinite;
  }
  & .bounce1 {
    animation-delay: -0.32s;
  }
  & .bounce2 {
    animation-delay: -0.16s;
  }
}
.spinnerAbsolute{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }

  80% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}
