@import "../../styles/_variables";
.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $dark-grey;
  color: $white;
  min-height: 100vh;
  position: relative;
  padding: 1rem;
  &Title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }
  &Img {
    border-radius: 4px;
  }
  &Status {
    margin: 1rem 0;
  }
  &Episodes {
    &Episode {
      margin-bottom: 0.5rem;
      & > span {
        color: $lighter-grey;
      }
    }
    & > h3 {
      margin-bottom: 2rem;
      font-size: 22px;
      text-decoration: underline $orange;
    }
  }
}

@media only screen and (max-width:500px){
  .character{
    &Title{
      font-size: 28px;
    }
    &Img{
      width: 220px;
      height: 220px;
    }
    &Episodes{
      &>h3{
        font-size: 18px;
      }
    }
  }
}